body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.1875;
  margin: 0;
  padding: 0;
}

#wb_Shape1 a svg {
  position: absolute;
  left: 0;
}

#wb_Shape1 span {
  position: absolute;
  left: 0;
}

#wb_Shape1 a .hover {
  visibility: hidden;
}

#wb_Shape1 a:hover .hover {
  visibility: visible;
}

#wb_Shape1 a:hover span {
  visibility: hidden;
}

